:root {
  --d-notch-height: 30px;
  --c-white: #fff;
  --c-black: #2a2525;
  --c-white-20: #a9a9a9;
  --c-white-50: #707070;
  --c-darkgrey: rgb(52, 47, 52);
  --c-action-discard: #354c6d;
  --c-action-dislike: #7176f8;
  --c-action-favourite: #ef4469;
  --c-action-playlist: #10b981;
  --c-error: #df8181;
}